<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="thymeleaf/layout :: headerFragment">
	<meta charset="ISO-8859-1"/>
	<title>Insert title here</title>
</head>
<body>

	<div th:include="thymeleaf/layout :: menuFragment"></div>
	<form action="" th:object="${pessoa}" method="post">
	<input type="hidden" name="_method" value="" th:attr="value=${method}"/>
	<div class="row">
		<div class="lg-12 col">
			<label>Codigo
				<input type="text" th:field="${pessoa.codigo}" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="lg-12 col">
			<label>Nome
				<input type="text" th:field="${pessoa.nome}" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="lg-12 col">
			<label>Idade
				<input type="number" th:field="${pessoa.idade}" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="lg-12 col">
			<button type="submit">Salvar</button>
			<button type="button" >Voltar</button>
		</div>
	</div>


</form>
<div th:include="thymeleaf/layout :: scriptFragment">
</div>
</body>
</html>