<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="" method="post">
	<label>Codigo
		<input type="text" name="codigo" value="">
	</label>
	<label>Nome
		<input type="text" name="nome" value="">
	</label>
	<label>Idade
		<input type="number" name="idade" value="">
	</label>
	<button type="submit">Salvar</button>
	<button type="button" >Voltar</button>
</form>
</body>
</html>